* {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.intro {
    text-align: center;
    width: 100%;
}

.ship {
    list-style-type: none;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto;
    width: 80%;
}

.boards {
    display: flex;
    justify-content: space-around;
}

#gameboard, #gameboard2 {
    position: relative;
	margin: 2em;
	width: 500px;
	height: 500px;
}

#gameboard div, #gameboard2 div {
	position:absolute;
	box-sizing: border-box;
	background: seashell;
	border: 1px solid black;
	width: 50px;
	height: 50px;
}
