* {
    background-color: lightgray;
}

img {
    width: 30%;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.intro {
    text-align: center;
}

.game {
    display: flex;
}

.gameboard {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
    justify-content: center;
}

.box {
    background-color: seashell;
    color: blue;
}

.player1 {
    margin: 50px 0 0 70px;
}

.player2 {
    margin: 50px 70px 0 0;
}
